/* Generic pane rules */
body { margin: 0;}
.l-row, .l-col { overflow: hidden; position: absolute; }
.l-row { left: 0; right: 0; }
.l-col { top: 0; bottom: 0; }
.l-scroll-x { overflow-x: auto; }
.l-scroll-y { overflow-y: auto; }


.l-header {
    height: 75px;
    top: 0;
    background-color: red;
}

.l-body {
    top: 75px;
    bottom: 50px;
}

.l-nav {
    width: 200px;
    background-color: grey;
}

.l-content {
    left: 200px;
}

.l-footer {
    height: 50px;
    bottom: 0;
    background-color: blue;
}
